<h2>Add New Doctor</h2>

<%= form_for :doctor do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>  

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>  

  <div class="field">
    <%= f.label :phone_no %><br />
    <%= f.text_field :phone_no %>
  </div>  
  
 <div class="field">
    <%= f.label :speciality %><br />
    <%= f.text_field :speciality %>
  </div>

  <div class="field">
    <%= f.label :education %><br />
    <%= f.text_field :education %>
  </div>

  <div class="field">
    <%= f.label :experience %><br />
    <%= f.text_field :experience %>
  </div>  
 
  <div class="actions">
    <%= f.submit "Add Doctor" %>
  </div>
<% end %>


